body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

header {
    background-image: url(../assets/banner-bk.jpg);
    background-size: cover;
    height: 100%;
    background-repeat: no-repeat;
    padding: 90px;

}

.logo img {
    height: 120px;

}

h1 {
    color: white;
    font-size: 70px;

}

.parrafo_header {
    color: white;
    font-size: 20px;

}

.boton_header {
    background-color: #00ffad;
    color: #192440;
    font-size: 20px;
    font-weight: bolder;
    border-style: none;
    margin-top: 20px;
    height: 55px;
    width: 170px;
    border-radius: 70px;

}

.span_header {
    display: flex;
    justify-content: flex-end;
    color: white;
    font-weight: 100;
    font-size: 25px;
    margin-top: -70px;

}

.section1 {
    height: 700px;

}

.titulo_section1 {
    display: flex;
    justify-content: center;
    color: #292b2c;
    font-size: 45px;
    margin-top: 100px;

}

.imagenes1_section1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;

}

.titulo_imagen {
    color: #292b2c;
    font-size: 30px;
    font-weight: 400;

}

.section2 {
    display: flex;
    flex-direction: column;

}

.parrafo_section2 {
    flex-direction: column;
    text-align: center;

}

.titulo2_section2 {
    color: #292b2c;
    font-size: 50px;
    margin-left: 100px;

}

.parte2_section2 {
    display: flex;
    flex-direction: column;
    font-size: 15px;

}

.parrafo2_section2 {
    font-size: 15px;
    margin-left: 100px;

}

.boton_section2 {
    background-color: #192440;
    color: white;
    font-weight: bolder;
    font-size: 15px;
    border-radius: 100px;
    border: 0px;
    height: 50px;
    width: 130px;
    margin-top: 50px;
    margin-left: 100px;

}

.section2 {
    background: linear-gradient(348deg, #00ffad 70%, transparent 32%);
    height: 1000px;

}

.parte3_section2 {
    display: flex;
    justify-content: space-evenly;

}

.imagen1_section2 img {
    display: flex;
    height: 250px;

}

.imagen2_section2 img {
    margin-top: 200px;
    height: 300px;

}

.texto2_section2 {
    margin-top: 200px;

}

.titulo3_section2 {
    color: #292b2c;
    font-size: 50px;

}

.parrafo3_section2 {
    font-size: 15px;

}

.boton2_section2 {
    height: 45px;
    width: 150px;
    border-radius: 100px;
    font-size: 15px;
    border: none;
    background-color: #192440;
    font-weight: bolder;
    color: white;

}

.titulo_section3 {
    text-align: center;
    font-size: 40px;
    padding: 50px;


}

.section2_2 {
    display: flex;
    justify-content: space-around;

}

.section3 {
    display: flex;
    flex-direction: column;
    height: 700px;

}

.cajas_section3 {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 520px;
    gap: 200px;
    font-size: 20px;

}

.precio_cajas {
    margin-bottom: 30px;
    font-size: 80px;

}

.caja2 {
    border-radius: 5px;
    color: white;
    background-color: #192440;
    width: 400px;

}

.precio_caja2 {
    font-size: 80px;
    color: white;
    margin-bottom: 30px;

}


.titulo_cajas {
    margin-bottom: -80px;
    color: black;

}

.titulo_caja2 {
    margin-bottom: -80px;
    color: white;

}

.descripcion_cajas {
    line-height: 40px;
    font-weight: 100;

}

.descripcion_caja2 {
    line-height: 40px;
    font-weight: 100;

}

.boton_section3 {
    height: 50px;
    width: 130px;
    border-radius: 100px;
    margin-top: 10px;
    font-size: 15px;
    background-color: white;
    border: solid 2px black;
    font-weight: bolder;

}

.boton2_section3 {
    height: 50px;
    width: 130px;
    border-radius: 100px;
    margin-top: 10px;
    font-size: 15px;
    background-color: #00ffad;
    border: solid 2px black;
    font-weight: bolder;

}

.section4 {
    background-color: #eceeef;
    margin-top: 80px;
    height: 230px;
    align-content: center;

}

.imagenes_section3 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;

}

.section5 {
    display: flex;
    justify-content: space-around;
    background-image: url(../assets/contact-bk.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px;
    height: 350px;

}

.texto_section5 {
    color: white;

}

.titulo_section5 {
    font-size: 40px;

}

.parrafo_section5 {
    margin-bottom: 30px;

}

.formulario {
    display: flex;
    flex-direction: column;

}

.formulario input {
    height: 25px;
    width: 200px;
    border-radius: 5px;
    border-color: #03d595;
    background-color: transparent;

}

.formulario p {
    display: flex;
    flex-direction: column;
    font-weight: bolder;
    font-size: 13px;
    color: #03d595;

}

.inputs_juntos {
    display: flex;
    flex-direction: row;
    gap: 20px;

}

.input1y2 {
    display: flex;
    flex-direction: column;

}

textarea {
    height: 70px;
    width: 430px;
    border-radius: 5px;
    border-color: #03d595;
    background-color: transparent;

}

.boton_section5 {
    margin-top: 25px;
    height: 35px;
    font-size: 15px;
    border-radius: 120px;
    border: none;
    color: #182841;
    background-color: #00ffad;

}

footer {
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #192440;
    height: 110px;

}

.imagenes_footer img {
    height: 40px;

}